
label {
    display: block;
  }
  
  input[type='submit'],
  label {
    margin-top: 1rem;
  }
input{
    background-color: lightgray;
    outline: none;
    border:none;
    height:25px;
    width:150px;
}
label {
    margin-right:8%;
}
.loginp {

    align-items: center;
    text-align: center;
    font-size: 25px;
}

.login {
    margin-top: 15%;
    align-self: center;
    text-align: center;
}

.regandloginbutton {
    background-color: lightgray;
    height: 35px;
    width: 75px;
    top: 0%;
}

.logolocation {
    list-style-type: none;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid black;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
  }
  
  li a:hover {
    background-color: lightgray;
  }

  .forgotpass {
    text-decoration: underline;
    font-size: small;
    margin-left: 5%;
    margin-top: 1px;
    margin-bottom: 0px;
  }
  
  .logowords{
    font-size: 50px;
    width:auto;
    margin-left: 155px ;
  }
  .logo {
    width:150px;
    margin-top: 10%;
    margin-bottom: 10%;
  }