
label {
    display: block;
  }
  
  input[type='submit'],
  label {
    margin-top: 1rem;
  }

.loginp {

    align-items: center;
    text-align: center;
    font-size: large;
}

.login {
    margin-top: 15%;
    align-self: center;
    text-align: center;
}

.regandloginbutton {
    background-color: grey;
}

.logolocation {
    list-style-type: none;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
  }
  
  li a:hover {
    background-color: #111;
  }