.horizontal-scroll-container {
position: absolute;
top: 40%;
left: 20%;
height: 30%;
margin: auto;
width: 60%;
overflow-x: auto; /* Hide the default scrollbar */
white-space: nowrap; /* Prevent content from wrapping */
border: 1.5px solid #ddd;
}
.horizontal-scroll-content {
display: inline-block;
}
.item {
display: inline-block;
width: 100px;
height: 100px;
margin-right: 10px;
background-color: lightblue;
}
.scroll-button {
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: rgba(255, 255, 255, 0.5);
border: none;
padding: 5px;
cursor: pointer;
font-size: 1.5em;
transition: background-color 0.3s ease;
}
.scroll-button:hover {
background-color: rgba(255, 255, 255, 0.8);
}
.scroll-button.left {
left: 0;
}
.scroll-button.right {
right: 0;
}